*.worksheet.sc
.ammonite/
.bloop/
.bsp/
.dotty-ide*
.idea/
.metals/
.scala-build/
.scala/
.vscode/
.scalafmt.conf
metals.sbt
target/
.tasty
build/
TypeClassesCopy.scala
.classpath
.project
.settings
.worksheet
bin/
.cache
.DS_Store
.env
.history
.scala_dependencies
.cache-main
*.class
